/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  background: #fff6dd;
  font-family: 'Josefin Sans', sans-serif;
  /*
font-family: 'Fira Sans', sans-serif;
*/
  font-size: 130%;
}
.top-navbar {
  background-color: #670A02 ! important;
}

.main-container {
  margin-top: 50px;
}

.top-jumbotron {
  background-image: url(../img/Schleier.jpg);
  background-repeat: no-repeat;
  background-color: #000;
  background-size: 100%;
  border-radius: 0px;
  color: #ffffff;
  min-height: 800px ! important;
}
